:root {
    --primary_color: #f08632;
    --btn_color: #f08632;
    --white_color: #fff;
    --black_color: #000;
    --para_size: 16px;
    --link_size: 19px;
    --heading_size: 32px;
    --normal_size: 26px;
    --main_color: #eaeff5;

    --font-size-l: 46px;
    --font-size-m: 20px;
    --font-size-s: 14px;

    /* font-weight */
    --font-weight-s: 600;
    --font-weight-m: 700;
}
/* pointer-event:none */
.navbar {
    height: 65px;
    background-color: var(--primary_color);
}

.collapse {
    height: 100%;
}
.navbar>.container {
    justify-content:space-between;
}
.navbar>.container img{
    display: none;
}
.nav_top li:hover {
    background: var(--black_color);
}

.nav_top li:nth-child(1) {
    background-color: var(--black_color);
}

.nav_top a {
    font-size: var(--link_size);
}

.offcanvas {
    transition: all linear .3s !important;
}

.drop_bar {
    position: relative;
}

.extra_dropDown {
    height: 0;
    width: 150px;
    background-color: black;
    position: absolute;
    top: 63px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all linear .2s;
    z-index: 4;
}

.nav_top li:nth-child(4):hover .extra_dropDown,
.extra_dropDown:hover {
    height: 140px;
    opacity: 1;
    visibility: visible;
}

.extra_drop_content {
    padding: 0;
    margin: 0;
    list-style: none;
}

.extra_drop_content li {
    padding: 10px;
}

.extra_drop_content a {
    font-size: var(--para_size);
}

.header-top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.header-top-inner .header-left {
    display: flex;
    align-items: center;
}
.header-top-inner .header-left li {
    list-style: none;
    font-size: 14px;
    color: #111111;
    margin-right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header-top-inner .header-left li i {
    font-size: 8px;
    padding-left: 8px;
}
.header-top-inner .header-left li::after,.header-right li:first-child:after{
    content: "|";
    margin-left: 15px;
    color: #ccc;
}
.header-top-inner .header-left li:last-child::after,.header-right li:last-child::after {
    content: "";
}
.header-top-inner .header-left li ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111;
    padding:5px 10px;
    border: 1px solid #ccc;
    z-index: 10;
    transition: all 2s ease;
}
.header-top-inner .header-left li ul li {
    margin: 0;
    padding: 5px 10px;
    color: #fff;
}
.header-top-inner .header-left li:hover ul {
    display: block;
    top: 24px;
    opacity: 1;
    visibility: visible;
    transition: all, 2s;
}
.header-logo {
    text-align: center;
}
.header-logo img {
    width: 130px;
    height:50px;
}
.header-top-inner .header-right {
    display: flex;
    align-items: center;
}
.header-top-inner .header-right .header-right-links li, .header-right-cart li{
    list-style: none;
    margin-right: 23px;
    display: flex;
    align-items: center;
    font-size:26px;
}
.header-top-inner .header-right .header-right-links{
    display: flex;

}
.cart-price {
    color: #111;
    padding-left:10px;
    font-size:17px;
}
.reg {
    background: #fdf3ea;
}

.section-title span {
    color: #f08632;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 10px;
}

.section-title h2 {
    font-size: 46px;
    color: #111111;
    line-height: 60px;
    font-weight: 700;
    font-style: italic;
    font-family: "Playfair Display", serif;
}

.cl-form {
    width: 100%;
    max-width: 585px;
}

.image-container {
    position: relative;
    
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

option:hover {
    background-color: grey;
    font-weight: bold;
}
/* Small Mobile  */

.main-slider {
    height: 700px;
    width: 100%;
    /* background-color: aqua; */
    background-image: url(../images/cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Outer navigation buttons */
.main-slider .outer-nav-btn {
    font-size: 2rem;
    color: #f2a365;
    border: none;
    background: #000;
    opacity: .6;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 20px;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
}

.main-slider #prev-btn {
    left: 20px;
}

.main-slider #next-btn {
    right: 20px;
}

.main-slider .cakeInnerPart {
    height: 350px;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-slider .cakeInnerTextPart {
    height: 300px;
    width: 750px;
    /* background-color: greenyellow; */
    position: relative;
    left: 0px;
    top: 0px;
    border: 1px dashed #f08632;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-slider .text-cakeinner {
    width: 100%;
    font-size: 3.1rem;
    font-weight: bold;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    font-style: italic;
    line-height: 1.4;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

/* Slide-up animation */
@keyframes slide-up {
    from {
        transform: translateY(100%); /* Start below */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Move to position */
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%); /* Start above */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Move to position */
        opacity: 1;
    }
}
/* ---about-section ----*/
.about {
    padding: 50px 0px;
}
/* .register{
    padding-top: 50px;
} */
.section-title {
    margin-bottom: 35px;
}
.section-title span {
    color: #f08632;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 10px;
}

.section-title h2 {
    font-size: 47px;
    color: #111111;
    line-height: 60px;
    font-weight: 700;
    font-style: italic;
    font-family: "Playfair Display", serif;
}

.about p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #444444;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
}

.about_range {
    width: 100%;
    height: 8px;
    background: #e1e1e1;
}

.about_inner_range {
    height: 8px;
    background: rgb(17, 17, 17);
}

.about .first {
    width: 95%;
}

.about .second {
    width: 80%;
}

.about .third {
    width: 90%;
}
/* .about .owl-theme{
    border-bottom: 1px solid #e58945;
    
} */
.about .custom-col {
    height: 200px;
    width: 200px;
    font-size: 50px;
    color: #f08632;
    transition: all ease .4s;
}

.about .icon-outer:hover .custom-col {
    background: #f08632;
    color: #fff;
}

.about .icon-outer:hover .custom-col p {
    color: #fff;
}

.about .owl-prev {
    position: absolute;
    top: 30%;
    left: -35px;
}

.about .owl-next {
    position: absolute;
    top: 30%;
    right: -35px;
}

.about .owl-prev span,
.owl-next span {
    font-size: 45px;
    color: #171717;
}

.about .owl-theme .owl-dots {
    display: none;
}

.about .owl-theme .owl-nav:hover {
    text-decoration: none;
}

/* ---about-section ----*/

/* cake-categories */
.product_bottom {
    position: relative;
}
.product_label {
    font-size: 14px;
    background: #ffffff;
    padding: 6px 10px 6px;
    width: 30%;
    position: absolute;
    bottom: 47px;
    left: 110px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.product_img:hover .product_label {
    background: #f08632;
    transition: all ease-in-out 0.2s;
    color: #ffff;
}

.product_link {
    text-decoration: none;
    text-align: center;
}

.product_name,
.product_price {
    color: #111111;
    font-size: 16px;
    font-weight: 600px;
}

.price_box {
    position: relative;
    overflow: hidden;
}

.cart_add {
    position: absolute;
    bottom: -20px;
    left: 37%;
    background: #ffffff;
    transition: all ease-in-out 0.5s;
}
.cart_text {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #f08632;
    font-weight: 600;
    font-size: 16px;
}

.product_img:hover .cart_add {
    bottom: 10px;
}
.main-slider .slide-up {
    animation: slide-up 0.5s ease-in-out; 
}

.main-slider .slide-down {
    animation: slide-down 0.3s ease-in-out; /* Duration matches JavaScript timeout */
}
.main-slider .cake-button {
    background-color: #f2a365;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-slider .cake-button:hover {
    background-color: #e58945;
}
/* our-team */
.our-team .team_join{
    border: 1px solid gray;
    padding: 8px 18px;

}
.our-team  .team_head{
    color: orange;
}
.our-team  .team_joinbtn{
display: inline-block;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
padding:10px 25px;
color: #848484;
/* background: #f08632; */
letter-spacing: 2px;
text-decoration: none;
}

.our-team  .member_card {
    
position: relative;
overflow: hidden;
transition: all 0.3s ease-in-out;
}
.our-team  .overlay-content {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: rgba(244, 242, 242, 0.677);
color: rgb(23, 23, 23);
transform: translateY(100%);
transition: transform 0.4s ease;
padding: 15px;
}

.our-team  .member_card:hover .overlay-content {
transform: translateY(0);
}

.our-team  .social-icons a {
font-size: 1.2rem;
transition: color 0.3s ease;

}

.our-team  .social-icons a:hover {
color: #007bff;
}

/* testimonial */
.t-s {
    min-height: 400px;
    background-color: var(--ligh-pink);
}

.t-text {
    min-height: 100px;
}
.ts-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ts-heading p{
    font-family: var(--primary-color);
    font-size: var(--font-size-m);
    color: var(--primary-color);
    font-weight:var(--font-weight-s);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 40px;
}
.ts-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ts-title h6{
    font-size:var(--font-size-l);
    color: var(--black-color);
    line-height: 60px;
    font-weight: var(--font-weight-m);
    font-style: italic;
    font-family: "Playfair Display", serif;
}
.ts-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    gap: 22px;
}
.ts-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 236px;
    flex-direction:column;
    background-color:var(--white);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ts-card_two{
display: flex;
align-items: center;
justify-content: center;
min-height: 236px;
flex-direction:column;
background-color:var(--white);
border-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-iem{
    padding-left: 15px;
    min-height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.card{
    min-height: 50px;
    display: flex;
    gap: 30px;
}
.card-img{
    border-radius: 50%;
    height:95px;
    width: 95px;
}
.card-text{
    padding-top: 20px;
    padding-left: 10px;
    min-height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-text p{
    line-height:28px ;
    color:var(--secondry-color);
    font-style: italic;
}
.text-warning {
    font-size: 18px !important;
}
.t-name{
    color:var(--black-color);
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
}

.card-name{
    min-height: 50px;
    padding-left: 1px;
}

.sweetimage img{
    min-width: 100%;
}
.sweetimage{
   margin-bottom: 35px;
}
.sweetimage.middle_pic {
   padding-top: 30px;
}
.follow_insta {
   padding-top: 70px;
}
.follow_text{
   margin-bottom: 55px;
}
.follow_text span {
   color: #f08632;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 3px;
   display: block;
   margin-bottom: 10px;
   font-family: "system-ui";
}
.follow_text h2 {
   font-size: 46px;
   color: #111111;
   line-height: 60px;
   font-weight: 700;
   font-family: "Playfair Display";
   letter-spacing: 2px;
   /* word-spacing: 3px; */
}
.sweetcake{
   font-size: 20px;
   color: #444444;
   position: relative;
   z-index: 1;
   font-weight: 400;
   font-family: "Montserrat", sans-serif;
}
.sweetcake i {
   color: #111111;
   font-size: 36px;
   position: relative;
   top: 6px;
   margin-right: 8px;
}
.sweetcake:after {
   content: "";
}
.sweetcake:after {
   content: "";
   position: absolute;
   left: 0;
   top: -34px;
   background: url('image/cakeafter.png');
   height: 130px;
   width: 120px;
   z-index: 10;
}
/* Big Laptop  */

/* footer */
.location{
    position:relative;
    min-height:350px;
    /* width:100px; */
}
 .location .container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.map-content{
    width: 362px;
    height: 200px;
    background-color: aliceblue;
    position: absolute;
    box-shadow: 0px 0px 10px hsl(0, 3%, 70%);
    left: 9%;
    top:10%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
 .map-content h5{
    font-size: 19px;
    line-height: 10px; 
    /* padding-bottom:10px; */
    color:#3f3e3e;
}
.map-content  p{
    font-size:13px;
    padding: 5px 20px;
    color:#818181;
}
.map .container iframe{
    width:100%;
    height:400px;    
}

@media(max-width:375px){
 .map .container .map-content{
    width: 20px;
   
}   
}
.footer-container {
    min-height: 100px;
    width: 100%;
    background: url(../images/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.footer-container  #container {
    min-height: 350px;
}

.footer-container  .footer-timing {
    font-size: 20px;
}

.footer-container  .footer-timing h6 {
    font-size: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.footer-container .footer-timing ul{
    padding: 0px;
}
.footer-container .footer-timing ul li {
    list-style: none;
    font-size: 16px;
    color: #a4a4a4;
    line-height: 36px;
}

.footer-container .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container .footer-social a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #272422;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer-container .footer-social a i {
    font-size:15px;
    color: #fff;
}

.footer-container .footer-faci p {
    line-height: 36px;
    padding: 34px;
    text-align: center;
    color: #a4a4a4;
}

.footer-container .footer-subs {
    position: relative;
    margin-bottom: 40px;
}

.footer-container .footer-subs h6 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
}

.footer-container .footer-subs p {
    color: #a4a4a4;
    margin-bottom: 40px;
}

.footer-container .footer-subs form input {
    height: 50px;
    width: 100%;
    padding-left: 22px;
    background: rgba(253, 243, 234, 0.2);
    border: none;
    color: #ffffff;
    font-size: 14px;
}
.footer-container .footer-subs form button {
    font-size: 32px;
    color: #f08632;
    background: transparent;
    border: none;
    position: absolute;
    right: 1px;
    top: 50px;
    height: 100%;
    padding: 0 20px;
}
.footer-container .footer-bottom {
    min-height: 50px;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container .copyright {
    padding-left: 60px;
    color: #fff;
}

.footer-container .copyright i {
    color: #daa520;
}

.footer-container .copyright a {
    text-decoration: none;
    color: #daa520;
}

.footer-container .copyright-privacy ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container .copyright-privacy li {
    list-style: none;
}

.footer-container .copyright-privacy li a {
    text-decoration: none;
    color: #a4a4a4;
}

@media(max-width:1289px){
    .card-name {
        padding-left: 13px;
    }
}
@media(max-width:1068px){
    .card-iem { 
        padding-left:5px;
    }
}
@media (max-width: 1200px) {
    .section-title h2 {
        font-size: 38px;
        line-height: 48px;
    }
    .cl-form {
        max-width: 500px;
    }
    .image-container {
        width: 85%;
        height: 600px;
    }
}
/* Laptop  */

@media (max-width: 1024px) {
    .section-title h2 {
        font-size: 34px;
        line-height: 42px;
    }
    .image-container {
        height: auto;
    }
    @media (max-width: 1024px) {
        .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    
        .product_label {
            left: 33%;
            width: 35%;
            padding: 6px 10px;
        }
    
        .cart_add {
            left: 31%;
        }
    }
}


@media (min-width: 992px) { 
    .member_card {
        max-width: 24rem;
    }
    }  
    @media (min-width: 1200px) { 
    .member_card {
        max-width: 22rem;
    }
    }
/* Tablet  */
@media (min-width: 769px) { 
    .team_con{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .member_card {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 22rem;
    }
    .team_joinbtn{
        float: left;
    }
    }
@media (max-width: 768px) {
    .section-title h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .cl-form {
        margin: 0 auto;
    }
    .image-container {
        height: auto;
        margin: 20px auto;
    }
    .image {
        margin-top: 20px;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cart_add {
        left: 37%;
    }
    .upper-header{
        display: none;
    }
    .navbar{
        background-color: #ffff;
    }
    .navbar>.container img{
        height:50px;
        width:70px;   
       display: block;

    }
    /* .main-slider .outer-nav-btn{
        height:50px;
        width: 50px;
        line-height:42px;
        left:90%;
    } */
    .main-slider >.cakeInnerPart{
        width:671px;
    }
    .main-slider .cakeInnerTextPart {
        width: 622px;
    }
    .main-slider .text-cakeinner {
        font-size:40px;
}
}
@media(max-width:699px){
    .ts-card_two {
        display: none;
    }
    }
@media (max-width: 576px) {
    .section-title h2 {
        font-size: 26px;
        line-height: 34px;
    }
    .image {
        margin-top: 15px;
        text-align: center;
    }
    .image-container {
        width: 100%;
        height: auto;
    }
    .form-control {
        font-size: 15px;
        padding: 10px;
    }
    .btn {
        font-size: 16px;
        padding: 12px;
    }
}
@media (max-width: 480px) {
    .section-title h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .image-container {
        height: auto;
    }
    .image {
        margin-top: 20px;
    }
    .cl-form {
        padding: 10px;
    }
    .form-control {
        font-size: 14px;
        padding: 8px;
    }
    .btn {
        font-size: 14px;
        padding: 10px;
    }
    .upper-header{
        display: none;
    }
}
@media (max-width: 430px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cart_add {
        left: 40%;
    }
}

@media (max-width: 375px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main-slider .cakeInnerPart {
        width: 337px;
    }
    .main-slider .cakeInnerTextPart {
        width: 354px;
    }
    .cart_add {
        left: 37%;
    }
}
@media(max-width:325px){
   .main-slider .outer-nav-btn{
     display: none;
   }
    .main-slider .cakeInnerTextPart {
        width: 273px;
        height:238px;
    }
    .main-slider .cakeInnerPart {
        height: 262px;
    }
    .main-slider .text-cakeinner {
        width: 100%;
        font-size: 1.5rem;
    }
     .navbar{
    background-color: #fff;

} 
 
}
@media(max-width:320px){
    .map-content {
        width: 262px;
    }
    .main-slider {
        height: 423px;
    }
    .footer-faci,.footer-timing{
        border:none !important;
    }
    .footer-container .copyright,.copyright-privacy {
        font-size: 13px;
    }
    .footer-container .container{
        display: flex;
        text-align:start;
    }
    .footer-container .footer-faci p {
        line-height: 30px;
         padding: 0px;
    }
    .footer-container .footer-timing {
         padding-left:0px;
}

}

